body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 0px;
    height: 2000px;
}
li {
    list-style: none;
}
.header {
    background-color: #8d76ce;
    color: #fff;
    height: 101px;
}
.main {
    background-color: #fff;
}
.header-logo {
    float: left;
    font-size: 36px;
    padding: 25px 0px 0px 69px;
}
.header-list li {
    float: right;
    padding: 41px 0px 0px 50px;
    margin-right: 101px;
    line-height: 20px;
}
.copy-container h1 {
    font-size: 72px;
    padding-left: 69px;
    margin-top: 172px;
}
.copy-container h2 {
    font-size: 72px;
    padding-left: 69px;
    line-height: 0;
}
.copy-container span {
    color: #8d76ce;
}
.copy-container h3 {
    font-size: 43px;
    padding-left: 75px;
    line-height: 0;
    color: #7694ce;
}
.contents h4 {
    text-align: center;
    font-size: 36px;
    padding-top: 50px;
}
.contents a {
    margin-left: 580px;
    font-size: 36px;
}
.yes {
    background-color: #8d76ce;
    text-decoration: none;
    color: blanchedalmond;
    padding: 12px 24px;
    border-radius: 10px;
}
.contents p {
    text-align: center;
    font-size: 36px;
    padding-top: 100px;
}
.items {
    float: left;
    height: 180px;
    width: 280px;
    margin-right: 100px;
    margin-left: 50px;
}
.contact-form {
    padding-top: 400px;
}
.contact-form h3 {
    text-align: center;
}
.contact-form.input {
    text-align: center;
}
.contact-form p {
    margin-left: 550px;
}
input {
    margin-left: 550px;
    width: 300px;
    height: 47px;
    border: 1px solid #8d76ce;
    border-radius: 10px;
}
textarea {
    margin-left: 550px;
    height: 100px;
    width: 300px;
    border: 1px solid #8d76ce;
    border-radius: 10px;
}
input.contact-submit {
    width: 315px;
    background-color: #8d76ce;
    margin-top: 20px;
}